Debug/
Release/
audiod.txt
.codelite/
*.workspace
CMakeCache.txt
CMakeFiles/
Makefile
cmake-build-Debug/
cmake_install.cmake
compile_commands.json
fltk/
outputs/
*.pcm
*.wav
*.raw
/Default/
.settings/
*.o
*.oct
*.m4a
node_modules/
jquery*
octave-workspace
